Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border 1px inset;
  opacity: 60%;
  color: black;
}

Header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

HeaderTitle {
  font-size: 2rem;
  margin-right: auto;
}

Links {
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem;
}

Description {
  font-size: 1.5rem;
}

PostList {
  display: flex;
  flex-direction: column;
}

YearGroup {
  display: flex;
  flex-direction: column;
}

YearTitle {
  font-size: 1.5rem;
}

PostListing {
  display: flex;
  justify-content: flex-end;
}

PostTitle {
  margin-right: auto;
}

Footer {
  color: grey;
  font-size: 1rem;
}

Content > * {
  max-width: 40rem;
  width: 100%;
}

@media all and (max-width:500px) {
  Header {
    flex-direction: column;
  }
  html {
    font-size: 16px;
  }
}

@media all and (max-width:800px) {
  Header {
    justify-content: space-around;
  }
  html {
    font-size: 18px;
  }
}

@media all and (min-width:1100px) {
  html {
    font-size: 20px;
  }
}
